.title-h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 10px;
  font-size: x-large;
  color: aliceblue;
  background: linear-gradient(135deg, #1e4fb9 0%, #5a1490 100%);
  padding: 20px;
  border-radius: 25px;
}
.input-text {
  padding: 10px;
  width: 600px;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
}

.heart-icon {
  font-size: 25px;
  position: absolute;
}

.heart-icon:hover {
  color: red;
}

.basket-icon {
  font-size: 25px;
  margin-right: 5px;
}

.custom-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ff4d4d;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
}
